.banner {
    background-image: url('../img/pizzas.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1, p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
}

.banner p {
    font-size: 16px;
}