.title, .ingredients {
    text-transform: capitalize;
}

.card-container {
    gap: 15px;
}

.card-container p {
    color: #000;
    text-shadow: none;
    text-align: left;
}

.card-container .title, p {
    text-align: center;
    font-weight: bold;
}